<h1>{{title}}</h1>

<table>
  <th>
      <table>
         <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Surname</th>
         </tr>
        <tr *ngFor="let person of persons"  (click)="onSelect(person)" class="data_row" [class.selected]="person == selectedPerson">
          <td>{{person.id}}</td>
          <td>{{person.name}}</td>
          <td>{{person.surname}}</td>
        </tr>
       </table>
  </th>
  <th>
  <div *ngIf="selectedPerson" >
      <table>
            <tr>
              <td  align="right">
                <label>id: </label>
              </td>
              <td>
                 <input value="{{selectedPerson.id}}" placeholder="name" readonly/>
              </td>  
            </tr>  
            <tr>
              <td  align="right">
                <label>name: </label>
              </td>
              <td>
                <input [(ngModel)]="selectedPerson.name" placeholder="name" />
              </td>
            </tr>


            <tr>
              <td  align="right">
                <label>surname: </label>
              </td>
              <td>
                <input [(ngModel)]="selectedPerson.surname" placeholder="surname" />
              </td>
            </tr>

            <tr>
              <td  align="right">
                <label>date of birth: </label>
              </td>
              <td>
                <input type="date" class="form-control" id="myDate" [ngModel]="selectedPerson.dateOfBirth | date:'dd.MM.yyyy'" (ngModelChange)="selectedPerson.dateOfBirth = $event" name="birthday">
              </td>
            </tr>

            <tr>
              <td>
              </td>
              <td>
                <button (click)="save()">Save</button>
                <button (click)="delete()">Delete</button>
              </td>  
            </tr>

     </table>   

    </div>  
  </th>
