<configuration scan="true">

    <property name="LOG_DIR" value="./logs"/>
    <property name="PATTERN" value="%d{dd.MM.yyyy HH:mm:ss.SSS} [%thread] %level %logger{0} - %msg%n"/>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="FileMain" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_DIR}/sample.log</file>
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
                <marker>NOTIFICATION</marker>
            </evaluator>
            <onMismatch>NEUTRAL</onMismatch>
            <onMatch>DENY</onMatch>
        </filter>
    </appender>

    <appender name="Notification" class="lv.nixx.poc.exh.handler.NotificationAppender">
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
                <marker>NOTIFICATION</marker>
            </evaluator>
            <onMismatch>DENY</onMismatch>
            <onMatch>NEUTRAL</onMatch>
        </filter>
    </appender>

    <root level="info">
        <appender-ref ref="Console"/>
        <appender-ref ref="FileMain"/>
        <appender-ref ref="Notification"/>
    </root>


</configuration>